@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    box-sizing: border-box; /* Inclui padding e border na largura e altura dos elementos */
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Press Start 2P', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh; /* Garante que o corpo ocupe toda a altura da tela */
    overflow-x: hidden; /* Remove a barra de rolagem horizontal */
}

a {
    text-decoration: none;
    color: inherit;
    outline: none;
}

.background::before {
    content: "";
    background: url(../images/avat.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.background {
    width: 100%;
    overflow: hidden; /* Para ocultar o excesso de imagem embaçada */
}

header {
    width: 100%;
    padding: 20px 0;
    background-color: #5b00bc59;
    color: white;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 2%;
}
h1 {
    color: #F90386;
}
header > div > img {
    width: 5%;
    padding-bottom: 20px;
    padding-top: 20px;
}

.logo {
    margin: auto;
}
.logo-hide {
    display: none;
}

header > nav > button {
    background-color: #F90386;
    font-family: 'Press Start 2P', sans-serif;
}

header > nav > button:hover {
    background-color: #be0166;
}

header > nav > button:active {
    background-color: #ff4cac;
}
input {
    font-family: 'Press Start 2P', sans-serif;
}

main {
    background-color: #1e1e1e;
    padding: 40px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: calc(100% - 40px); /* Ajusta a largura para evitar estouro */
    max-width: 400px;
    margin-bottom: 2%;
    flex: 1; /* Garante que o main expanda para preencher o espaço disponível */
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
    font-weight: bold;
    color: white;
}

input[type="number"],
input[type="email"],
input[type="text"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    width: calc(100% - 22px); /* Ajusta a largura para evitar estouro */
}
.send:hover {
    color:#0E0044 ;
}
footer {
    width: 100%;
    background-color: #1e1e1e;
    color: white;
    text-align: center;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    flex: 2;
    

}

.footer {
  
    font-family: 'Press Start 2P', sans-serif;
    text-align: center;
}
.row-top {
    padding-top: 12%;
}

 .footer .row {
    width: 100%;
    margin: 1% 0%;
    padding: 0.6% 0%;
    color: gray;
    font-size: 0.8em;
    
}

.footer .row a {
    text-decoration: none;
    color: gray;
    transition: 0.5s;
}

.footer .row a:hover {
    color: #fff;
}

.footer .row ul {
    width: 100%;
}

.footer .row ul li {
    display: inline-block;
    
}


input[type="submit"] {
    padding: 10px 20px;
    background-color: #F90386;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   
    border-radius: 3px;
    font-family: 'Press Start 2P', sans-serif;
}


.success-message {
    background-color: #2e10d6a1; /* Cor de fundo com transparência */
    color: white; /* Cor do texto */
    text-align: center; /* Alinhamento centralizado */
    padding: 40px; /* Espaçamento interno maior */
    margin: 20px auto; /* Margem centralizada */
    border-radius: 10px; /* Borda arredondada */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    position: absolute; /* Posição absoluta */
    top: 50%; /* Centraliza verticalmente */
    left: 50%; /* Centraliza horizontalmente */
    transform: translate(-50%, -50%); /* Corrige o centro */
    z-index: 9999; /* Garante que fique na frente de todos */
    font-size: 28px; /* Tamanho do texto aumentado */
    width: 80%; /* Largura da mensagem */
    max-width: 600px; /* Largura máxima da mensagem */
    line-height: 1.5; /* Altura da linha para melhor legibilidade */
}


@media (max-width: 720px) {
    h1{
        display: none;
    }
    main {
        padding: 20px;
        margin: 0 auto;
        min-width: 320px;
        max-width: 70%; 
        margin-bottom: 2%;
    }
    header {
        display: flex;
    }
    header > div > img {
        width: 35%;
        padding-top: 5px;
    }
    header > nav {
        padding-left: 5%;
    }
    header > nav > .ret {
        text-align: center;
    }
    header > nav > button{
        margin-top: 5px;
    }
    .logo {
        display: none;
    }
    .logo-hide {
        display: block;
    }
    .footer {
        text-align: left;
        padding: 5%;
    }

    .footer .row ul li {
        display: block;
        margin: 10px 0px;
        text-align: left;
    }

    .footer .row a i {
        margin: 0% 3%;
    }

    
